.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  margin: 44px 0 47px;
  padding: 48px 50px;
  font-weight: 400;
  font-size: 18px;
}

.header__menu-list {
  display: flex;
  gap: 27px;
}

.header__menu-item {
  list-style: circle;
  list-style-position: outside;
}

.menu-link-shift {
  margin-right: 3px;
  margin-left: 5px;
}

.monotonous-link {
  text-decoration: underline solid 1px;
  text-underline-offset: 3.5px;
}

.menu-link-activ {
  text-decoration: none;
}

.none-list-style {
  list-style: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.header__contacts {
  justify-self: end;
  width: 240px;
}

.contacts {
  font-style: normal;
  line-height: 1.35;
}

.cover {
  position: relative;
  min-height: 757px;
  padding: 165px 50px 0px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
}

.cover-title {
  position: relative;
  z-index: 2;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.cover__title-item {
  display: block;
}

.text-left {
  text-align: left;
}

.text-center {
  line-height: 1.54;
  text-align: center;
}

.text-right {
  line-height: 1.15;
  text-align: right;
}

.none_letter-spacing {
  letter-spacing: 0;
}

.description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 106px;
}

.cover__description-slogan {
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 1;
  text-transform: uppercase;
  word-spacing: 20px;
}

.cover__description__slogan-selection {
  word-spacing: 18px;
}

.cover__description-start {
  width: 256px;
  min-height: 50px;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 1;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.lots {
  margin: 185px 0 125px;
  padding: 0px 24px;
}

.lots-title {
  padding: 0px 40px 30px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
  word-spacing: 20px;
}

.lots-list {
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  width: 1052px;
}

.lots__card {
  position: relative;
  width: 334px;
  min-height: 596px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.lots-card-movie {
  background-image: url(../images/card-lot-01.jpg);
}

.lots-card-book {
  background-image: url(../images/card-lot-02.jpg);
}

.lots-card-painting {
  background-image: url(../images/card-lot-03.jpg);
}

.card {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  color: #fff;
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.19;
  text-decoration: underline solid 1px;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card__item {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.link-full-list {
  display: block;
  padding: 30px 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  text-decoration: underline solid 1px;
  text-underline-offset: 5px;
}

.about {
  display: grid;
  grid-template-columns: 334px auto;
  grid-template-areas:
    "about-logo about__list-title"
    ". about__list-main";
  row-gap: 7px;
  column-gap: 25px;
  padding: 0 24px 71px;
}

.about-logo {
  display: flex;
  grid-area: about-logo;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-img {
  width: 148px;
  height: 114px;
}

.about__list-title {
  grid-area: about__list-title;
  align-self: center;
  padding-top: 10px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}

.about__list-main {
  display: flex;
  flex-direction: column;
  grid-area: about__list-main;
  gap: 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin: 110px 0;
  padding: 0 50px;
  font-weight: 400;
  font-size: 18px;
}



.footer-nav {
  display: flex;
  justify-self: center;
  align-self: start;
  text-align-last: center;
}



.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
  align-self: start;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
